body {
  text-align: center;
  background: #003300;
  color: white;
  margin: 0 auto;
}

img.resize {
  max-width:50%;
  max-height:50%;
}

.fullscreen-video-wrap {
  position: relative;
  margin-left: auto;
  margin-right: auto;
 
}
.home {
  font-family: 'Space Mono', monospace;
  text-align: center;
  color: white;
  font-style: bold;
  font-size: 80px;
  position: relative;
  margin: 0 auto;
  z-index: 1;
  
}
a {
  font-family: 'Space Mono', monospace;
  color: white;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  padding: 0 10 0 10;
  font-size: 60px;
}
a:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.6);
}
a:visited {
  text-decoration: none;
}
.container {position: relative}
/*
.container video {
  position:relative;
  z-index: 0;
  object-fit: contain;
  width: 100%;
  left: 0;
  padding: 0;
}
*/
.overlay {
  position: center;
  top: 50%;
  left: 50%;
  margin: 0 auto;

}
a {
  display: block;
  width: 100%;
}

@-webkit-keyframes fadeInDown {
   0% {
      opacity: 0;
      -webkit-transform: translateY(-20px);
   }
   100% {
      opacity: 1;
      -webkit-transform: translateY(0);
   }
}

@keyframes fadeInDown {
   0% {
      opacity: 0;
      transform: translateY(-20px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}
