<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="static/css/map.css">
  <title>VEGAN AFRICAN RESTUARANTS</title>
</head>

<body>
<header>
<div class="AnduCafe">
<h1>Andu Café</h1>
  <p>Adress: 528 Kingsland Rd, London E8 4AH</p>
  <p>Hours: Mon-Fri 12pm-10pm</p>
  <p>Phone: 020 7254 1780</p>
  	<p>Website: www.anducafe.co.uk</p>
	<br><h2>Keren View</h2></br>
	<p>Adress:201 Holloway Rd, London N7 8DG</p>
	<p>Hours: Mon-Sat 12pm-10pm, Sun 1pm-10pm</p>
	<p>Phone: 02038023600</p>
	<p>Website: https://keren-view.business.site/</p>
</header>


</body>
</html>