<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="static/css/map.css">
  <title>FIND VEGAN FRIENDLY RESTUARANTS</title>
</head>

<body>
<header>
<h1>VEGAN ♀ VIVERS</h1>
<img class="resize" src="static/images/greengirls.gif">
<br><h2>Search Vegan Restuarants with Cuisines Similar to Ours</h2><br>
</header>

<div id="form">
<form method="post" action="/search">
  <select name="restuarants" id="restuarant">
    <option value="African" id="African" name="african">African</option>
    <option value="Asian" id="Asian" name="asian">Asian</option>
    <option value="European" id="European" name="european">European</option>
    </select>
    <input type="submit" value="Submit" id="submit">
 </form>
</div>
<p> Discover Vegan Restuarants in London </p>
</body>
</html>